Some nits

From https://github.com/larseggert/ietf-reviewtool:
```
-------------------------------------------------------------------------------
DISCUSS
-------------------------------------------------------------------------------
DOWNREF from this Best Current Practice doc to Informational [RFC5377].

DOWNREF from this Best Current Practice doc to Informational [RFC8712].

DOWNREF from this Best Current Practice doc to Informational [RFC8721].

DOWNREF from this Best Current Practice doc to Informational [RFC8715].

-------------------------------------------------------------------------------
COMMENT
-------------------------------------------------------------------------------

Possible DOWNREF from this Best Current Practice doc to [ISOC]. If so, the IESG
needs to approve it.

-------------------------------------------------------------------------------
NIT
-------------------------------------------------------------------------------
All comments below are about very minor potential issues that you may choose to
address in some way - or ignore - as you see fit. Some were flagged by
automated tools (via https://github.com/larseggert/ietf-reviewtool), so there
will likely be some false positives. There is no need to let me know what you
did with these suggestions.

Section 3.1. , paragraph 3, nit:
>  must be monitored carefully to ensure ensure that the resulting documents ac
>                                 ^^^^^^^^^^^^^
Possible typo: you repeated a word.

Section 3.2. , paragraph 2, nit:
> the selection and responsibilites of an Working Group chair can be found in
>                                      ^^
Use "a" instead of "an" if the following word doesn't start with a vowel sound,
e.g. "a sentence", "a university".

Section 4.1. , paragraph 2, nit:
> org/topics/areas/), each one under the the coordination of the Area Director
>                                    ^^^^^^^
Two determiners in a row. Choose either "the" or "the".

Section 4.3. , paragraph 2, nit:
> s of the IESG are nominated by a nominations committee (colloquially, NomCom)
>                                  ^^^^^^^^^^^
An apostrophe may be missing.

Section 4.3. , paragraph 3, nit:
> standards process [IETFPROCS]. In general it acts as source of advice to the
>                                   ^^^^^^^
A comma is probably missing here.

Obsolete reference to RFC5377, obsoleted by RFC8721 (this may be on purpose).
``` 

fixed them, but left the downref to ISOC.  thanks.